/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.debug {
    border: 1px solid red;
}

/* color */
:root {
    --color-primary: #141922;
    --color-sidebar: #000000;
    --color-toolbar: #282828;
    --color-secondary: #7D7F84;
    --color-white: #ffffff;
    --color-green: #adff2f;
}

/* general */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 0.7em;
}

.wrapper {
    height: 100vh;
    background-color: var(--color-primary);
    /* overflow: hidden; */
}

#toolbar {
    background-color: var(--color-toolbar);
    height: 70px;
}

.content {
    height: calc(100vh - 70px);
    width: 100%;
}


h2 {
    margin-bottom: 23px;
    font-size: 2em;
}

/* UTILITY */
.btn {
    border: 2px var(--color-white) solid;
    border-radius: 25px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: var(--color-white);
    transition: transform .3s;
}


/* flex utility */
.d-flex {
    display: flex;
}

.just-center {
    justify-content: center;
}

.align-center {
    align-items: center;
    align-content: center;
}

.flex-col {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

/* header */
.header {
    background-color: #1a1a1a4f;
    color: var(--color-white);
    height: 80px;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 1000;
    width: calc(100% - 200px);
    padding: 20px 25px 30px 5px;
    justify-content: end;
    align-items: center;
}

.btn:hover {
    transform: scale(1.1);
}

/* main */
main {
    width: calc(100% - 200px);
    /* flex-grow: 1; */
    padding: 100px 20px 20px 20px;
    color: var(--color-white);
    overflow-y: auto;
}

img {
    width: 100%;
    display: block;
}

/* nav-bar */
nav {
    margin-bottom: 20px;
}

nav a {
    color: var(--color-secondary);
    font-weight: 500;
}


nav a:hover {
    color: var(--color-white);
}

nav ul a {
    text-transform: uppercase;
    padding: 13px 15px;
}

/* sidebar */
#sidebar {
    background-color: var(--color-sidebar);
    color: var(--color-secondary);
    width: 200px;
    height: 100%;
    /* flex-shrink: 0; */
}


.logo-side {
    width: 70%;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.icon-side {
    width: 20%;
    display: none;
}

#sidebar ul li a {
    color: var(--color-secondary);
}

#sidebar ul li{
    display: flex;
    align-items: center;
}

.list-top{
    padding-left: 5px;
}

.list-top ul li a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    margin-bottom: 5px;
    font-weight: 600;
}

.list-top ul li:hover {
    border-left: 3px solid var(--color-green);
}

#sidebar ul li a:hover {
    color: var(--color-white);
}

#sidebar ul img {
    width: 20px;
}

.playlist{
    padding-left: 10px;
}

.playlist h4 {
    text-transform: uppercase;
    color: var(--color-white);
    margin-top: 5px;
}

.playlist i {
    font-size: 2em;
    padding-right: 5px;
}

.playlist ul li{
    margin-bottom: 5px;
}

.bottom-side img {
    width: 13px;
    /* color: var(--color-secondary); */
    
}

.bottom-side a {
    color: var(--color-secondary);
    margin-left: 5px;
}

.bord {
    border-bottom: 1px solid var(--color-secondary);
    margin: 10px 10px;
    padding: 6px 0;
}


.profile{
    padding-left: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.square{
    width: 18px;
    height: 18px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.profile h5{
    color: var(--color-white);
    font-size: 1.2em;
    margin: 0 5px;
}

/* section  */
.section-container {
    margin-bottom: 20px;
}

/* sectio recent */
.row {
    gap: 15px;
}

.card {
    width: calc(100% / 6);
}

.card-img {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    display: none;
}

.card-img:hover .icon {
    display: block;
}

.card-img:hover img {
    opacity: 0.5;
}

.card-title {
    text-align: center;
}

.card-title>* {
    margin: 10px;
}

#recent p {
    color: var(--color-secondary);
}

/* create-for */
#create-for p {
    color: var(--color-secondary);
}

#create-for h2 {
    margin-bottom: 10px;
}

#create-for p {
    margin-bottom: 23px;
}

/* popular */
#popular p {
    margin-bottom: 10px;
}

#popular img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    overflow: hidden;
}

.icon-rounded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    display: none;
}

.card-img:hover .icon-rounded {
    display: block;
}



/* media query */

@media screen and (max-width: 992px) {
    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        padding: 13px 15px;
    }

    .row {
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 4 - 20px);
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 576px) {
    .card {
        width: calc(100% / 2 - 20px);
    }
    .logo-side{
        display: none;
    }
    .icon-side{
        margin: 6px 0 10px 8px;
        display: block;
        width: 25px;
    }
    .playlist{
        display: none;
    }
    .list-top ul li a:last-child{
        display: none;
    }
    #sidebar{
        height: 100%;
        width: 50px;
    }
    .bord a{
        display: none;
    }

    .profile h5{
        display: none;
    }

    .bord{
        border: none;
    }

    main{
        flex-grow: 1;
    }

    .header{
        left: 50px;
        width: 92%;
    }
}